img{
    
    height: 200px;
    width:200px;
    padding:30px;
    border-top-left-radius:50%;
    border-top-right-radius: 50%;
    border-style:double;
    border-color: black;
    height: 200px;
    width:200px;
    padding:30px;
    border-top-left-radius:50%;
    border-top-right-radius: 50%;
    height: 200px;
    width:200px;
    padding:30px;
    border-top-left-radius:50%;
    border-top-right-radius: 50%;
    height: 200px;
    width:200px;
    padding:30px;
    border-top-left-radius:50%;
    border-top-right-radius: 50%;
    height: 200px;
    width:200px;
    padding:30px;
    border-top-left-radius:50%;
    border-top-right-radius: 50%;

}body{
        background-image: url("https://cdn.wallpapersafari.com/95/85/x1himF.jpg");
}
      

#images
{
    height:450px;
    width:1330px;
    display:flex;
    border: 5px solid black;
    align-items:center;
    justify-content: space-evenly;
}